<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap-grid.css.map"/>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   
</head>
<body>  

     <div class="container" style=" margin: 20px; padding: 0px">
        <div class="d-flex">
            <div class="col-4" style=" width: auto; background-color: slategray; height: 750px; margin-top: 70px">
                <div class="col-sm-3">
                    <div style="background-color: white; width: 320px; height:200px; margin-top:60px">
                        @Html.Partial("_PartialSignIn", new shoppingsite.Models.SignIn())
                    </div>
                    <div style="background-color: white; width: 320px; height:200px; margin-top:60px">
                        @Html.Partial("_PartialSiteMap")
                    </div>

                </div>
            </div>
            <header class="col-12">
                <div class="d-flex">
                    <div class="mr-auto p-2">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <h1 style="width:300px">@ViewBag.Title</h1>
                        </div>
                    </div>
                </div>
                <div>
                    @RenderBody()
                </div>
            </header>

        </div>
    </div>
</body>
</html>
